<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%highlight(%.-3level) %cyan(%d{HH:mm:ss.SSS}) %yellow(%-35.35logger) %magenta(%X{subscriptionId}) %highlight(%msg) %n</pattern>
        </encoder>
    </appender>
    <logger name="eu.inn.binders.cassandra.Statement">
        <level value="info" />
    </logger>
    <logger name="org.apache.cassandra">
        <level value="warn" />
    </logger>
    <logger name="org.apache.cassandra.service.CassandraDaemon">
        <level value="off" />
    </logger>
    <logger name="com.datastax.driver">
        <level value="warn" />
    </logger>
    <root level="trace">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
